body {
	margin: 5px;
}

h1 {
	text-align: center;
	margin-top: 8px;
	margin-down: 10px;
	margin-top: 8px;
}

form {
	text-align: left;
	width: 200px;
	height: 125px;
	margin: 10px;
}

label {
	margin-left: 5px;
}

input {
	margin: 5px;
}

button {
	margin-top: 5px;
}

a {
	margin-top: 80px;
	margin-left: 15px;
}

table {
	border: thin;
	border-style: solid;
	margin: 5px;
	width: 80%;
	display: block;
	table-layout: fixed;
}

td {
	border: thin;
	border-style: solid;
}
